<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>http://47.97.160.30</string>
	<key>siteCode</key>
	<string>00000000000000000000000000000000</string>
	<key>appIdentifier</key>
	<string>com.sobey.tmtest</string>
	<key>appPackageName</key>
	<string>com.sobey.tmgc</string>
	<key>appDisplayName</key>
	<string>天马demo</string>
	<key>appProductName</key>
	<string>天马demo</string>
	<key>appVersion</key>
	<string>1.0</string>
	<key>appBuildVersion</key>
	<string>1</string>
	<key>icon</key>
	<dict>
		<key>40</key>
		<string>40px.png</string>
		<key>60</key>
		<string>60px.png</string>
	</dict>
	<key>launch</key>
	<dict>
		<key>hdpi</key>
		<string>960x540.png</string>
		<key>xhdpi</key>
		<string>1280x720.png</string>
		<key>xxhdpi</key>
		<string>1920x1280.png</string>
	</dict>
	<key>features</key>
	<array>
		<dict>
			<key>name</key>
			<string>tm_navigation_config</string>
			<key>description</key>
			<string>导航组件，根据文件名称获取配置数据</string>
			<key>configFile</key>
			<string>AppConfig.json</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_jpush</string>
			<key>description</key>
			<string>jpush推送平台key，框架内使用</string>
			<key>appkey</key>
			<string>7375019ec90b9de9bb0cc</string>
			<key>channel</key>
			<string>Offline</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_umStatistics</string>
			<key>description</key>
			<string>友盟统计key，分享组件使用</string>
			<key>appkey</key>
			<string>5a7bf6a1f29d983a98000</string>
			<key>channel</key>
			<string>AppStore</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_umShare</string>
			<key>description</key>
			<string>友盟分享key，分享组件使用</string>
			<key>appkey</key>
			<string>5a7bf6a1f29d983a98000</string>
			<key>QQ</key>
			<dict>
				<key>AppId</key>
				<string>1106729587</string>
				<key>AppKey</key>
				<string>BBZiA8wyLALNxHnx</string>
			</dict>
			<key>SinaWeibo</key>
			<dict>
				<key>AppKey</key>
				<string>1083667505</string>
				<key>AppSecret</key>
				<string>94720152611e91d9ccc6275d071e693c</string>
				<key>RedirectUrl</key>
				<string>http://39.107.76.66</string>
			</dict>
			<key>Wechat</key>
			<dict>
				<key>AppId</key>
				<string>wx14fd330e48b62f04</string>
				<key>AppSecret</key>
				<string>672f39e5698f8556497240543c887211</string>
				<key>Path</key>
				<string>http://39.107.76.66</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
